
.vs/The game/v15/.suo
.vs/The game/v15/Server/sqlite3/db.lock
.vs/The game/v15/Server/sqlite3/storage.ide
.vs/The game/v15/Server/sqlite3/storage.ide-shm
.vs/The game/v15/Server/sqlite3/storage.ide-wal
Assembly-CSharp-Editor-firstpass.csproj
Assembly-CSharp.csproj
Assets/Plugins.meta
Assets/Plugins/GitHub.meta
Assets/Plugins/GitHub/Editor.meta
Assets/Plugins/GitHub/Editor/AsyncBridge.Net35.dll
Assets/Plugins/GitHub/Editor/AsyncBridge.Net35.dll.meta
Assets/Plugins/GitHub/Editor/big-logo@2x.png
Assets/Plugins/GitHub/Editor/big-logo@2x.png.meta
Assets/Plugins/GitHub/Editor/credits.txt
Assets/Plugins/GitHub/Editor/credits.txt.meta
Assets/Plugins/GitHub/Editor/eula.txt
Assets/Plugins/GitHub/Editor/eula.txt.meta
Assets/Plugins/GitHub/Editor/ExtensionLoader.cs
Assets/Plugins/GitHub/Editor/ExtensionLoader.cs.meta
Assets/Plugins/GitHub/Editor/GitHub.Api.45.dll
Assets/Plugins/GitHub/Editor/GitHub.Api.45.dll.mdb
Assets/Plugins/GitHub/Editor/GitHub.Api.45.dll.mdb.meta
Assets/Plugins/GitHub/Editor/GitHub.Api.45.dll.meta
Assets/Plugins/GitHub/Editor/GitHub.Api.dll
Assets/Plugins/GitHub/Editor/GitHub.Api.dll.mdb
Assets/Plugins/GitHub/Editor/GitHub.Api.dll.mdb.meta
Assets/Plugins/GitHub/Editor/GitHub.Api.dll.meta
Assets/Plugins/GitHub/Editor/GitHub.Logging.dll
Assets/Plugins/GitHub/Editor/GitHub.Logging.dll.mdb
Assets/Plugins/GitHub/Editor/GitHub.Logging.dll.mdb.meta
Assets/Plugins/GitHub/Editor/GitHub.Logging.dll.meta
Assets/Plugins/GitHub/Editor/GitHub.Unity.45.dll
Assets/Plugins/GitHub/Editor/GitHub.Unity.45.dll.mdb
Assets/Plugins/GitHub/Editor/GitHub.Unity.45.dll.mdb.meta
Assets/Plugins/GitHub/Editor/GitHub.Unity.45.dll.meta
Assets/Plugins/GitHub/Editor/GitHub.Unity.dll
Assets/Plugins/GitHub/Editor/GitHub.Unity.dll.mdb
Assets/Plugins/GitHub/Editor/GitHub.Unity.dll.mdb.meta
Assets/Plugins/GitHub/Editor/GitHub.Unity.dll.meta
Assets/Plugins/GitHub/Editor/GitHub.UnityShim.dll
Assets/Plugins/GitHub/Editor/GitHub.UnityShim.dll.mdb
Assets/Plugins/GitHub/Editor/GitHub.UnityShim.dll.mdb.meta
Assets/Plugins/GitHub/Editor/GitHub.UnityShim.dll.meta
Assets/Plugins/GitHub/Editor/libsfw.bundle
Assets/Plugins/GitHub/Editor/libsfw.bundle.meta
Assets/Plugins/GitHub/Editor/libsfw.so
Assets/Plugins/GitHub/Editor/libsfw.so.meta
Assets/Plugins/GitHub/Editor/Mono.Posix.dll
Assets/Plugins/GitHub/Editor/Mono.Posix.dll.meta
Assets/Plugins/GitHub/Editor/QuickGuide.pdf
Assets/Plugins/GitHub/Editor/QuickGuide.pdf.meta
Assets/Plugins/GitHub/Editor/ReadOnlyCollectionsInterfaces.dll
Assets/Plugins/GitHub/Editor/ReadOnlyCollectionsInterfaces.dll.meta
Assets/Plugins/GitHub/Editor/sfw.net.dll
Assets/Plugins/GitHub/Editor/sfw.net.dll.meta
Assets/Plugins/GitHub/Editor/System.Threading.dll
Assets/Plugins/GitHub/Editor/System.Threading.dll.meta
Assets/Plugins/GitHub/Editor/UnityAPIWrapper.cs
Assets/Plugins/GitHub/Editor/UnityAPIWrapper.cs.meta
Assets/Plugins/GitHub/Editor/x64.meta
Assets/Plugins/GitHub/Editor/x64/pthreadVC2.dll
Assets/Plugins/GitHub/Editor/x64/pthreadVC2.dll.meta
Assets/Plugins/GitHub/Editor/x64/sfw_x64.dll
Assets/Plugins/GitHub/Editor/x64/sfw_x64.dll.meta
Assets/Plugins/GitHub/Editor/x86.meta
Assets/Plugins/GitHub/Editor/x86/pthreadVC2.dll
Assets/Plugins/GitHub/Editor/x86/pthreadVC2.dll.meta
Assets/Plugins/GitHub/Editor/x86/sfw_x86.dll
Assets/Plugins/GitHub/Editor/x86/sfw_x86.dll.meta
The game.sln
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/Assembly-CSharp.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp.csproj.CoreCompileInputs.cache
obj/Debug/Assembly-CSharp-Editor-firstpass.csprojAssemblyReference.cache
obj/Debug/Assembly-CSharp-Editor-firstpass.csproj.CoreCompileInputs.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
